body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background: url(images/background.jpeg);
}

.login-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

#username,#password{
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#submit {
    width: 100%;
    height: 40px;
    background-color: #4c5eaf;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #3e758e;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

#register{
    width: 100%;
    height: 40px;
    background-color: #4c5eaf;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
